<!DOCTYPE html>
<html lang="en" ng-app = "dataBankApp">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Data Bank">
    <meta name="Author" content="Archie C. Teja">

    <title>Data Bank</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/simple-sidebar.css">

</head>
<body>
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">

        <ul class="sidebar-nav">
            <li class = "sidebar-brand">
                <a href="#/home">
                    Data Bank
                </a>
            </li>
            <li ng-controller = "subjectController">
                <a href="#/subjects" class="tree-toggle ">Subjects</a>
                <ul class="nav"  >
                    <li ng-hide="loading" ng-repeat="subject in subjects">
                        <a href="#/subject/{{subject.id}}"ng-click="selectSubject(subject.id)">{{ subject.name}}</a>
            </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- End -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div ng-view></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->
</div>


<!-- Scripts -->

<script src="/js/libs/jquery.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>

<!-- Angular -->
<script src = "/js/libs/angular.js"></script>
<script src = "/js/libs/angular-route.min.js"></script>
<script src = "/js/controllers/subjectCtrl.js"></script>
<script src = "/js/services/subjectService.js"></script>
<script src = "/js/app.js"></script>
